<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css"> 
    <title><%= dog.name %></title>
</head>
<body>
    <h1><%= dog.name %></h1>
    <% if (dog.doesTricks) { %>
        <p>This dog does tricks!</p>
    <% } else { %>
        <p>You need to teach this dog tricks!</p>
    <% } %>
    
    <form action="/dogs/<%=dog.id%>?_method=DELETE" method="POST">
        <button type="submit">Delete <%= dog.name %></button>
    </form>
    <a href="/dogs/<%= dog.id %>/edit">Edit <%=dog.name %></a>
    <a href="/dogs/">Back to Dogs</a>
</body>
</html>